
// Body
$body_bg: #f5f8fa;

// Typography
$fontfamily: 'Roboto';
$fontsize_base: 1rem;

//Colors
$color1: #202020;
$color2: rgb(167, 164, 164);
$color3: 	rgb(62, 124, 124)	;
$color4: red;
$color5: rgb(66, 96, 126);
$color6: #88a9ca;
$color7: rgb(141, 102, 91);
$color8: rgb(228, 202, 163);
$color15: white;
$color16: #64991e;
$color17: #f78d1d;
$color18: #d81b21;
$color19: #666666;

//Font sizes
$fontsize1: $fontsize_base * 0.2;
$fontsize2: $fontsize_base * 0.4;
$fontsize3: $fontsize_base * 0.6;
$fontsize4: $fontsize_base * 0.8;
$fontsize5: $fontsize_base;
$fontsize6: $fontsize_base * 1.2;
$fontsize7: $fontsize_base * 1.4;
$fontsize8: $fontsize_base * 1.6;
$fontsize9: $fontsize_base * 1.8;
$fontsize10: $fontsize_base * 2;
$fontsize11: $fontsize_base * 2.5;

$fontweight1: 500;
$fontweight2: 700;
$fontweight3: 900;
