
// Body
$body-bg: #f5f8fa;

// Typography
$fontfamily: 'Roboto';
$fontsize-base: 1rem;

//Colors
$color1: #c2cad0;
$color2: #d8c3a5;
$color3: #c38d9e;
$color4: #505050;
$color5: #5085a5;
$color6: #a8d0e6;
$color7: #687864;
$color8: #e27d60;
$color10: #cc3b61;

//Font sizes
$fontsize1: $fontsize-base * 0.2;
$fontsize2: $fontsize-base * 0.4;
$fontsize3: $fontsize-base * 0.6;
$fontsize4: $fontsize-base * 0.8;
$fontsize5: $fontsize-base;
$fontsize6: $fontsize-base * 1.2;
$fontsize7: $fontsize-base * 1.4;
$fontsize8: $fontsize-base * 1.6;
$fontsize8: $fontsize-base * 1.8;
