// Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");

// Variables
@import "variables";

// HTML tags
html {
    min-height:100%;
    position: relative;
}

body {
    background-color: $color2;
    font-family: $fontfamily;
    margin-bottom: 70px;
}

.footer {
    bottom: 0;
    position: absolute;
}

// Colors
.color1 {
    color: $color1;
}

.color2 {
    color: $color2;
}

.color3 {
    color: $color3;
}

.color4 {
    color: $color4;
}

.color5 {
    color: $color5;
}

.color6 {
    color: $color6;
}

.color7 {
    color: $color7;
}

.color8 {
    color: $color8;
}

.color16 {
    color: $color16;
}

.color18 {
    color: $color18;
}

.bgcolor1 {
    background-color: $color1;
}

.bgcolor2 {
    background-color: $color2;
}

.bgcolor3 {
    background-color: $color3;
}

.bgcolor5 {
    background-color: $color5;
}

.bgcolor6 {
    background-color: $color6;
}

.bgcolor7 {
    background-color: $color7;
}

.bgcolor4 {
    background-color: $color4;
}

.bgcolor8 {
    background-color: $color8;
}

.bgcolor16 {
    background-color: $color16;
}

.bgcolor18 {
    background-color: $color18;
}

.bgcolor19 {
    background-color: $color19;
}

.bordercolor2 {
    border: 0.5px solid $color2 !important;
}

.bordercolor4 {
    border: 0.5px solid $color4 !important;
}

.bordercolor5 {
    border: 0.5px solid $color5 !important;
}

.fontsize1 {
    font-size: $fontsize1 !important;
}

.fontsize2 {
    font-size: $fontsize2 !important;
}

.fontsize3 {
    font-size: $fontsize3 !important;
}

.fontsize4 {
    font-size: $fontsize4 !important;
}

.fontsize5 {
    font-size: $fontsize5 !important;
}

.fontsize6 {
    font-size: $fontsize6 !important;
}

.fontsize7 {
    font-size: $fontsize7 !important;
}

.fontsize8 {
    font-size: $fontsize8 !important;
}

.fontsize9 {
    font-size: $fontsize9 !important;
}

.fontsize10 {
    font-size: $fontsize10 !important;
}

.fontsize11 {
    font-size: $fontsize11 !important;
}

.fontweight1 {
    font-weight: $fontweight1 !important;
}

.fontweight2 {
    font-weight: $fontweight2 !important;
}

.fontweight3 {
    font-weight: $fontweight3 !important;
}

// Cursors
.cursor1 {
    cursor: pointer !important;
}

.cursor2 {
    cursor: help !important;
}

// Links

.link1, .link1:hover, .link1:visited {
    color: $color5 !important;
    cursor: pointer !important;
    text-decoration:none !important;
    font-weight: $fontweight2;
}

.link1:hover {
    color: $color7 !important;
}

.link2, .link2:hover, .link2:visited {
    color: $color6 !important;
    cursor: pointer !important;
    text-decoration:none !important;
    font-weight: $fontweight2;
}

.link2:hover {
    color: $color7 !important;
}

// Bootstrap
.button:active, .button:focus, .button:hover,
.btn:active, .btn:focus, .btn:hover  {
    outline: none !important;
    box-shadow: none !important;
}

.card {
    margin: 0px 5px 10px 5px !important;
    padding: 0px !important;
    border-radius: 0px !important;
    border: none;
}

.card-header1 {
    background-color: $color3 !important;
    color: $color8;
    margin: 0px !important;
    padding: 5px !important;
    border-radius: 0px !important;
    border: none;
}

.card-body1 {
    border: 0.5px solid $color3 !important;
    padding: 5px 5px 10px 5px !important;
    background-color: $color8;
    color: $color1;
}

.navbar {
    margin-bottom: 5px !important;
    padding: 0 5px 0 10px !important;
    background-color: $color5 !important;
}

.navbar-brand {
    margin: 0 !important;
}

.navbar-toggler {
    outline: none !important;
}

// Images

.img_flag {
    height: 1.2rem;
}

.img_logo {
    height: 4rem;  
    margin-right: 5px; 
}

.img_answer1 {
    cursor: pointer;
    display: block;
    margin: auto;
    padding: 0 0 5px 0 !important;
    max-width: 90%;
}

.img_answer2 {
    display: block;
    margin: 0px !important;
    padding: 0px !important;
    max-width: 100%;
}


/************************************ OTHER *******************************************/

.div_empty {
    height: 1rem !important;
}

.div_sempty {
    height: 0.5rem !important;
}
  
.div_ssempty {
    height: 0.25rem !important;
}
  
.div_sssempty {
    height: 0.12rem !important;
} 

hr {
    margin: 0 0 5px 0 !important;
    padding: 0 !important;
}

.hr_3 { border-top: 1px solid $color3 !important; }

.hr_4 { border-top: 1px solid $color3 !important; }

.hr_7 { border-top: 1px solid $color7 !important; }

/********************************* Wait for Angular "Loading..." circle **************************/
.angular_loading1 {
    border: 3px solid $color6;
    border-radius: 50%;
    border-top: 3px solid $color5;
    width: 20px !important;
    height: 20px !important;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
