// Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,700");

// Variables
@import "variables";

// HTML tags
html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: $fontfamily;
    background-color: $color1;
    margin-bottom: 70px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: $color19;
    color: $color1;
    text-align: center;
}

// Colors
.color1 {
    color: $color1;
}

.color2 {
    color: $color2;
}

.color3 {
    color: $color3;
}

.color4 {
    color: $color4;
}

.color5 {
    color: $color5;
}

.color6 {
    color: $color6;
}

.color7 {
    color: $color7;
}

.color8 {
    color: $color8;
}

.color16 {
    color: $color16;
}

.color18 {
    color: $color18;
}

.bgcolor1 {
    background-color: $color1;
}

.bgcolor2 {
    background-color: $color2;
}

.bgcolor3 {
    background-color: $color3;
}

.bgcolor5 {
    background-color: $color5;
}

.bgcolor6 {
    background-color: $color6;
}

.bgcolor4 {
    background-color: $color4;
}

.bgcolor8 {
    background-color: $color8;
}

.bgcolor16 {
    background-color: $color16;
}

.bgcolor18 {
    background-color: $color18;
}

.bgcolor19 {
    background-color: $color19;
}

.bordercolor4 {
    border: 0.5px solid $color4 !important;
}

.bordercolor5 {
    border: 0.5px solid $color5 !important;
}

.fontsize1 {
    font-size: $fontsize1 !important;
}

.fontsize2 {
    font-size: $fontsize2 !important;
}

.fontsize3 {
    font-size: $fontsize3 !important;
}

.fontsize4 {
    font-size: $fontsize4 !important;
}

.fontsize5 {
    font-size: $fontsize5 !important;
}

.fontsize6 {
    font-size: $fontsize6 !important;
}

.fontsize7 {
    font-size: $fontsize7 !important;
}

.fontsize8 {
    font-size: $fontsize8 !important;
}

.fontsize9 {
    font-size: $fontsize9 !important;
}

// Cursors
.cursor1 {
    cursor: pointer !important;
}

// Links

.link1 {
    color: $color1 !important;
    cursor: pointer !important;
    text-decoration:none !important;
}

.link1:hover {
    color: $color1 !important;
    cursor: pointer !important;
    text-decoration:none !important;
}

.link1:visited {
    color: $color1 !important;
    cursor: pointer !important;
    text-decoration:none !important;
}

.link3 {
    color: $color3 !important;
    cursor: pointer !important;
    text-decoration:none !important;
}

.link3:hover {
    color: $color3 !important;
    cursor: pointer !important;
    text-decoration:none !important;
}

.link3:visited {
    color: $color3 !important;
    cursor: pointer !important;
    text-decoration:none !important;
}
.link4 {
    color: $color4 !important;
    cursor: pointer !important;
    text-decoration:none !important;
}

.link4:hover {
    color: $color4 !important;
    cursor: pointer !important;
    text-decoration:none !important;
}

.link4:visited {
    color: $color4 !important;
    cursor: pointer !important;
    text-decoration:none !important;
}

.link5 {
    color: $color5 !important;
    cursor: pointer !important;
    text-decoration:none !important;
}

.link5:hover {
    color: $color5 !important;
    cursor: pointer !important;
    text-decoration:none !important;
}

.link5:visited {
    color: $color5 !important;
    cursor: pointer !important;
    text-decoration:none !important;
}

.link8 {
    color: $color8 !important;
    cursor: pointer !important;
    text-decoration:none !important;
}

.link8:hover {
    color: $color8 !important;
    cursor: pointer !important;
    text-decoration:none !important;
}

.link8:visited {
    color: $color8 !important;
    cursor: pointer !important;
    text-decoration:none !important;
}

// Bootstrap
.button:active, .button:focus, .button:hover,
.btn:active, .btn:focus, .btn:hover  {
    outline: none !important;
    box-shadow: none !important;
}

.card {
    margin: 0px 5px 10px 5px !important;
    padding: 0px !important;
    border-radius: 0px !important;
    border: none;
}

.card-header_type1 {
    background-color: $color4;
    color: $color6;
    font-weight:bold;
    font-size: $fontsize7;
    margin: 0px !important;
    padding: 5px 0 5px 0 !important;
    text-align: center !important;
    border-radius: 0px !important;
    border: none;
}

.card-body_type1 {
    border: 0.5px solid $color5 !important;
    padding: 5px 5px 10px 5px !important;
    background-color: $color2;
    color: $color4;
    font-size: $fontsize6;
}

.card-footer_type1 {
    color: $color4;
    background-color: $color6;
    border-top: 0 !important;
    border-right: 0.5px solid $color5 !important;
    border-bottom: 0.5px solid $color5 !important;
    border-left: 0.5px solid $color5 !important;
    font-size: $fontsize6;
    padding: 5px !important;
    border-radius: 0px !important;
    border: none;
}

.card-header_type2 {
    background-color: $color4 !important;
    color: $color1;
    font-size: $fontsize6;
    margin: 0px !important;
    padding: 5px !important;
    text-align: left !important;
}

.card-body_type2 {
    border: 0.5px solid $color4 !important;
    padding: 5px !important;
    background-color: $color6;
    color: $color4;
    font-size: $fontsize5;
}

.navbar {
    margin-bottom: 5px !important;
    padding: 0 5px 0 10px !important;
    background-color: $color3 !important;
}

.navbar-brand {
    margin: 0 !important;
}

.nav-link {
    color: $color8 !important;
    font-size: $fontsize5;
}

.navbar-toggler {
    outline: none !important;
}

// Images

.img_flag {
    height: 1.2rem;
    margin-right: 3px !important;
}

.img_logo {
    height: 5rem;   
}

.img_answer1 {
    cursor: pointer;
    display: block;
    margin: auto;
    padding: 0 0 5px 0 !important;
    max-width: 90%;
}

.img_answer2 {
    display: block;
    margin: auto;
    padding: 0 !important;
    width: 100%;
}

.div_imagedetail {
    width:50%;
}
// Divs

.div_empty {
    height: 1rem !important;
}

.div_sempty {
    height: 0.5rem !important;
}
  
.div_ssempty {
    height: 0.25rem !important;
}
  
.div_sssempty {
    height: 0.12rem !important;
} 

.div_maintitle {
    font-size: $fontsize8;
    color: $color4;
    font-weight: 700 !important;
}

.div_submaintitle {
    font-size: $fontsize5;
    color: $color4;
}

.hr_4 {
    color: $color4 !important;
    margin: 0 0 5px 0 !important;
    padding: 0 !important;
}

.hr_7 {
    color: $color7 !important;
    margin: 0 0 5px 0 !important;
    padding: 0 !important;
}

/********************************* Wait for Angular "Loading..." circle **************************/
.angular_loading1 {
    border: 3px solid $color6;
    border-radius: 50%;
    border-top: 3px solid $color5;
    width: 20px !important;
    height: 20px !important;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.angular_loading2 {
    border: 3px solid $color2;
    border-radius: 50%;
    border-top: 3px solid $color4;
    width: 20px !important;
    height: 20px !important;
    animation: spin 2s linear infinite;
}
