<div class="card">
    <div class="card-header1" *ngIf="loaded_DOM">
        <div>{{webpageText_Array[0]}}</div>
    </div>
    <div class="card-body1">
        <div *ngIf="!loaded_DOM">
            <div class="angular_loading2"></div>
        </div>
        <div *ngIf="loaded_DOM">
            <div class="d-flex justify-content-around">
                <div class="col color16 text-center fontsize7">
                    {{webpageText_Array[1]}}<br />
                    <strong>{{questionData_Array[2]}}</strong>
                </div>
                <div class="col color18 text-center fontsize7">
                    {{webpageText_Array[2]}}<br />
                    <strong>{{ questionData_Array[1]==-1 ? questionData_Array[0]-questionData_Array[2]-1 : questionData_Array[0]-questionData_Array[2] }}</strong>
                </div>
            </div>
            <div class="text-center fontsize9">
                <strong>
                    {{  (questionData_Array[0] == 1) && (questionData_Array[1]==-1) 
                            ? '---' 
                            : questionData_Array[2]/(questionData_Array[0]-(questionData_Array[1]==-1 ? 1 : 0))*100 | round: 2}} %
                </strong>
            </div>
            <div class="d-flex justify-content-between">
                <strong>{{webpageText_Array[3]}}:</strong>{{webpageText_Array[5+gametype]}}
            </div>
            <div class="d-flex justify-content-between" *ngIf="gametype==0">
                <strong>{{webpageText_Array[4]}}:</strong>{{webpageText_Array[5+questiontype]}}
            </div>
        </div>
    </div>
</div>