<div class="card" *ngIf="loaded_DOM" id="scrollIntoView3">
    <div class="card-header1">
        {{ webpageText_Array[0] }}
    </div>
    <div class="card-body1">
        <form #mistakequestionForm="ngForm" autocomplete="off">
            <mat-form-field class="w-100">
              <input matInput maxlength="50" name="email" [(ngModel)]="model.email" #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [placeholder]="webpageText_Array[1]" required id="focusElement1">
              <mat-hint align="end" class="input_required" *ngIf="email.errors && (email.dirty || email.touched) && email_check()">{{email_error}}</mat-hint>
            </mat-form-field>
            <mat-form-field class="w-100">
              <textarea matAutosizeMinRows="5" matInput matTextareaAutosize name="message" [(ngModel)]="model.message" #message="ngModel" [placeholder]="webpageText_Array[2]" required></textarea>
              <mat-hint align="end" class="input_required" [hidden]="!message.errors.required" *ngIf="message.errors && (message.dirty || message.touched)">{{errorText_Array[7]}}</mat-hint>
            </mat-form-field>
            <div class="text-center"><button (click)="submitForm();mistakequestionForm.reset()" [disabled]="!mistakequestionForm.form.valid" mat-button type="submit">{{webpageText_Array[6]}}</button></div>
        </form>
    </div>
</div>